<!DOCTYPE html>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type=text/javascript>
        $(function() {
          $('a#test').on('click', function(e) {
            e.preventDefault()
            $.getJSON('/signup',
                function(data) {
              //do nothing
            });
            return false;
          });
        });
</script>
<html lang="pt-BR">
<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, max-scale=1.0">
        <title>Envio de cartas</title>
        <link rel="stylesheet" type="text/css" href="./static/index.css">
</head>
<body>
        <header>
                <h1 class="titulo">Sistema de envio de cartas</h1>
        </header>
	<div>
        	<button class="botao">SignIn</button>
        	<button class="botao" onclick="{{ url_for('signup') }}">SignUp</button>
	</div>
</body>