<!DOCTYPE html>

<html lang="pt-BR">
<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, max-scale=1.0">
        <title>Calculo de Notas</title>
        <link rel="stylesheet" type="text/css" href="./static/index.css">
</head>
<body>
        <header>
                <h1 class="titulo">Calculo de notas</h1>
        </header>
	<div>
        	<button class="botao" onclick="window.location.href='{{url_for('signin')}}'">SignIn</button>
        	<button class="botao" onclick="window.location.href='{{url_for('signup')}}'">SignUp</button>
	</div>
</body>