<html>
    <head>
        <meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Letter Sender</title>
        <link rel="stylesheet" type="text/css" href="./static/login.css">
      </head>
	<body>
		<h1 class="titulo-pagina">Login</h1>
		<form action="/" method = "POST">
			<input class= "preencher" type="text" id="nome" name="nome"></p>
			<input class="preencher" type= "password" id="senha" name="senha"></p>
			<button class="input-botao">Login</button>
		</form>
	</body>
</html>
